<html lang="{{ site.lang | default: 'ko' }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% seo %}
	
	
	<meta name="referrer" content="always">
	<meta name="format-detection" content="telephone=no">
	
	
	<link rel="shortcut icon" href="{{ '/styles/images/favicon.ico' | prepend: site.baseurl }}">
	<link rel="icon" href="{{ '/styles/images/favicon.ico' | prepend: site.baseurl }}">

	
	<link rel="stylesheet" href="{{ '/styles/css/index.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/fontawesome/css/font-awesome.min.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/styles/css/syntax.css' | prepend: site.baseurl }}">
	

	{% feed_meta %}
	
	
	{% unless site.google_analytics %}
		{% if site.baidu_analysis %}
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "//hm.baidu.com/hm.js?{{ site.baidu_analysis }}";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
		{% endif %}
	{% endunless %}
	
	
	<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
	
  	<style type="text/css">
	  	.docs-content{
	  		margin-bottom: 10px;
	  	}
  	</style>
</head>

